header {
    text-align: center;
}

a img{

    width: 50px; height: auto;
    padding-top: 50px;
    padding-left: 10px;
}



@font-face {
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: bold;
}


#titolointro { 
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: bold;
    font-size: 50px !important;
    background-color: #213f87;
    width: 50%;
    text-align: center !important;
    position: absolute;
    
    }

#doc{
    width: 50% !important;
    height: auto;
    border: 2px solid #213f87;
}


/*  Page styles  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{ font-family: 'Hind Siliguri', sans-serif;!important;font-weight: bold;
    text-align: center;
    /*font: normal 14px/1.4 Arial, Helvetica, sans-serif;*/
}


p{font-size: 25px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;}
h1{font-size: 40px; color: #213f87; padding-top: 5%;}
h2{font-size: 35px;padding-top: 5%;}
h3{font-size: 30px; padding-top: 3%;}
h4{font-size: 30px;}
h5{font-size: 25px;}

/*p li{
    text-align: left;
    width: 50%;
}*/

.skrollr-desktop body {
    height:100% !important;
}

#skrollr-body {
    height:100%;
    position:relative;
    overflow: hidden;
}

a {
    color: #213f87;
}

#list-item{
    
}
/*  Styles for this example */


.parallax-image.skrollable-between {
    display:block;
}

.no-skrollr .parallax-image-wrapper {
    display:none !important;
}

.parallax-image-wrapper {
    position:fixed;
    left:0;
    width:100%;
    overflow:hidden;

    height:80vh;
    top:-80vh;
}


.parallax-image {
    display:none;
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;

    height:100vh;
    top:0;
}


.parallax-image.skrollable-between {
    display:block;
}

.no-skrollr .parallax-image-wrapper {
    display:none !important;
}



.gap {
    background:transparent center no-repeat;
    background-size:cover;
    height:80vh;
}

.skrollr .gap {
    background:transparent !important;
}


/*  End of scrollr styles   */


/*Intro*/

#page-intro h1{
    text-align: center !important;
    color: #fff;
    font: normal 60px 'Droid Serif', sans-serif;
    padding-top: 0px;
    margin-top: 24vh !important;
    margin-left: 25%;
    opacity: 0.7;
}

@media (max-width: 575px) {
    #page-intro h1 {
        font-size: 42px;
        padding-top: 15vh;
    }
}


#page-intro .btn{
    color: #fff !important;
    display: block;
    margin: 40px auto;
    width: 200px;
    text-align: center;
    border: 1px solid #fff;
    padding: 18px 20px;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}



/*Body Text*/


.body-text{
    padding: 140px 0;
    background-color: #fff;
    color: #25373C;
    font-size: 18px;
    text-align: center;
}

.body-text h2{
    font-size: 42px;
    font-weight: normal;
    margin-bottom: 80px;
}

.body-text p{
    width: 28%;
    display: inline-block;
    text-align: left;
    padding: 20px;
    color: #45636B;
}

@media (max-width: 900px){

    .body-text p{
        width: 100%;
    }

}



.piccola {
    width: 28%;
    display: inline-block;
    padding: 20px;
    color: #45636B;
}


.piccolaplus {
    width: 45%;
    display: inline-block;
    padding: 20px;
    color: #45636B;
}


.grande {
    width: 70% !important;
    display: inline-block;
    padding: 20px;
    color: #45636B;
}


.moltogrande {
    width: 90% !important;
    display: inline-block;
    padding: 20px;
    color: #45636B;
}


.media {
    width: 50% !important;
    display: inline-block;
    padding: 20px;
    color: #45636B;
}

.mediaplus {
    width: 60% !important;
    display: inline-block;
    padding: 20px;
    color: #45636B;
}


.body-text2{
    padding: 140px 0;
    background-color: #fff;
    color: #25373C;
    font-size: 18px;
    text-align: center;
}

.body-text2 h2{
    font-size: 42px;
    font-weight: normal;
    margin-bottom: 80px;
}

.body-text2 p{
    width: 28%;
    display: inline-block;
    text-align: left;
    padding: 20px;
    color: #45636B;
}


@media (max-width: 900px){

    .body-text2 p{
        width: 100%;
    }

}





.body-text3{
    padding: 140px 0;
    background-color: #fff;
    color: #25373C;
    font-size: 18px;
    text-align: center;
}

.body-text3 h2{
    font-size: 42px;
    font-weight: normal;
    margin-bottom: 80px;
}

.body-text3 p{
    width: 28%;
    display: inline-block;
    text-align: left;
    padding: 20px;
    color: #45636B;
}

@media (max-width: 900px){

    .body-text3 p{
        width: 100%;
    }

}




.body-text4{
    padding: 140px 0;
    background-color: #fff;
    color: #25373C;
    font-size: 18px;
    text-align: center;
}

.body-text4 h2{
    font-size: 42px;
    font-weight: normal;
    margin-bottom: 80px;
}

.body-text4 p{
    width: 28%;
    display: inline-block;
    text-align: left;
    padding: 20px;
    color: #45636B;
}

@media (max-width: 900px){

    .body-text4 p{
        width: 100%;
    }

}





.body-text5{
    padding: 140px 0;
    background-color: #fff;
    color: #25373C;
    font-size: 18px;
    text-align: center;
}

.body-text5 h2{
    font-size: 42px;
    font-weight: normal;
    margin-bottom: 80px;
}

.body-text5 p{
    width: 28%;
    display: inline-block;
    text-align: left;
    padding: 20px;
    color: #45636B;
}

@media (max-width: 900px){

    .body-text5 p{
        width: 100%;
    }

}

/*Features List*/


.features-list  {
    padding: 150px 0;
    background-color: #fff;
    color: #25373C;
    font-size: 18px;
    min-height: 100vh;
    text-align: center;
}

.features-list h2{
    font-size: 42px;
    margin-bottom: 80px;
    font-weight: normal;
}

.features-list div{
    display: inline-block;
    width: 30%;
    margin: 5px;
    border: 1px solid #ccc;
    padding: 45px;
    box-shadow: 1px 1px 1px #ccc, 0 0 30px #eee inset;
}


.div-grande {
    display: inline-block;
    width: 90% !important;
    margin: 5px;
    border: 1px solid #ccc;
    padding: 45px;
    box-shadow: 1px 1px 1px #ccc, 0 0 30px #eee inset;
}

.features-list div i{
    font-size: 150px;
    margin-bottom: 40px;
    color: #50B575;
}

.features-list div h4{
    font-size: 18px;
    text-transform: uppercase;
    color: #425F67;
    font-weight: normal;
}

.in-div {max-width: 100%;}


@media (max-width: 900px){

    .features-list div{
        width: 90%;
        margin-bottom: 30px;
    }

}




/*Features List2*/


.features-list2  {
    padding: 150px 0;
    background-color: #fff;
    color: #25373C;
    font-size: 18px;
    min-height: 100vh;
    text-align: center;
}

.features-list2 h2{
    font-size: 42px;
    margin-bottom: 80px;
    font-weight: normal;
}

.features-list2 div{
    display: inline-block;
    width: 30%;
    margin: 5px;
    border: 1px solid #ccc;
    padding: 45px;
    box-shadow: 1px 1px 1px #ccc, 0 0 30px #eee inset;
}

.features-list2 div i{
    font-size: 150px;
    margin-bottom: 40px;
    color: #50B575;
}

.features-list2 div h4{
    font-size: 18px;
    text-transform: uppercase;
    color: #425F67;
    font-weight: normal;
}


@media (max-width: 900px){

    .features-list2 div{
        width: 90%;
        margin-bottom: 30px;
    }

}



/*contatti*/

form {
  font-family: Arial, Helvetica, sans-serif;
}
label, input[type=text], textarea {
  display: block;
  box-sizing: border-box;
  width: 50%;
 text-align: center;
 margin-left: 25%;
}
input[type=text], textarea {
  padding: 10px;
  border: 1px solid #CCC;
  border-radius: 3px;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 15px;
  resize: vertical;
  text-align: center;
}

input[type=submit] {
  background-color: #4CAF50;
  color: #FFF;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}



.google-maps{

    padding: 20px;
}

@media (max-width: 375px){
    .google-maps{
        width: 70%;

    }
}



/*About us*/

.about-us{
    padding: 150px 0;
    background-color: #fff;
    min-height: 120vh;
    text-align: center;
    color: #25373C;
    font-size: 18px;
}

.about-us h2{
    font-size: 42px;
    margin-bottom: 80px;
    font-weight: normal;
}

.about-us div{
    text-align: center;
    width: 25%;
    margin: 30px 10px;
    display: inline-block;
}


.about-us div img{
    border-radius: 50%;
    width: 60%;
}

.about-us a.attribution{
    display: block;
    font-size: 13px;
    text-decoration: none;
    color: inherit;
    width: 280px;
    margin: 50px auto 10px;
    opacity: 0.5;
}


@media (max-width: 800px){

    .about-us div{
        width: 45%;
        margin: 20px 0;
    }

}


/*Gallery*/


.gallery{
    color: #221f51;
    font: normal 24px sans-serif;
    min-height: 300vh;
    text-align: center;
    overflow: hidden;
    background: linear-gradient(white, #EEF6F9);
}

.scroll-pause{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding-top: 20vh;
    background: transparent;
}


.scroll-pause .row{
    width: 200vw;
    height: 30vh;
    overflow: hidden;
}

.scroll-pause .row div{
    width: 11.5%;
    height: 90%;
    float: left;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0.5%;
    border-radius: 10px;
}

.scroll-pause .row div:first-child{
    margin-left: 0.4%;
}

.scroll-pause .row div:last-child{
    margin-right: 0.4%;
}



/*Footer*/
footer{
    background-color: rgb(255, 255, 255);
    box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.04);
    box-sizing: border-box;
    width: 100%;
    font: bold 16px sans-serif;
    text-align: left;
    padding: 50px 60px 55px;
    overflow: hidden;
}

/* Footer left */

footer .footer-left{
    float: left;
}

footer h5{
    color:  #5383d3;
    font: normal 25px 'Hind Siliguri';
    margin: 0;
}
footer p{
    color:  #5383d3;
    font: normal 15px 'Hind Siliguri';
    margin: 0;
} 

footer .footer-links{
    color: #95A4A9;
    margin: 22px 0 14px;
    padding: 0;
    font: normal 15px 'Hind Siliguri';
}

footer .footer-links a{
    display: inline-block;
    text-decoration: none;
    color: #50B575;
}

footer .footer-company-name{
    color:  #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}


/* Footer right */

footer .footer-right{
    float: right;
    width: 100%;
}

/* The search form */

footer form{
    position: relative;
}

footer form input{
    display: block;
    box-sizing: border-box;
    font: inherit;
    font-size: 14px;
    font-weight: normal;
    color: #32383A;
    width: 100%;
    padding: 18px 50px 18px 18px;
    outline: none;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    box-shadow: 0 1px 1px #eee;
}

footer form input:focus{
    border-color:#ccc;
}

/* Changing the placeholder color */

footer form input::-webkit-input-placeholder {
    color:  #5c666b;
}

footer form input::-moz-placeholder {
    opacity: 1;
    color:  #5c666b;
}

footer form input:-ms-input-placeholder{
    color:  #5c666b;
}

/* The magnify glass icon */

footer form i{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 16px;
    right: 18px;

    color: #d1d2d2;
    font-size: 20px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 1100px) {

    footer .footer-left{
        margin-bottom: 50px;
    }

    footer .footer-right{
        float: left;
        clear: left;
    }

}




