header{
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    background-color: #213f87;
    overflow: hidden;
    height: 190px;
    font-family: 'Hind Siliguri', sans-serif;
   } 

header a{
    color:#fff;
    float: left;
    text-decoration: none;
    display: inline-block;
   
    border-radius: 3px;
    font: bold 14px/1 'Open Sans', sans-serif;
    text-transform: uppercase;
    background-color:#213f87;

}

ul {
    list-style: none;
    border-bottom: 1px solid #fff;
    background-color: #FFF;
    padding: 0px;
    margin-top: 0;
    text-align: center;
}


ul a{
    text-decoration: none;
    color:  #213f87;
    text-align: left;
    background-color: #fff;
    padding: 10px;
    border-radius: 0px;
    opacity: 0.8;
    font-size: 16px;
    display: inline-block;
    margin: 0px;
    line-height: 1;
    outline: none;

    transition: 0.2s ease;
}

ul li a.active{
    color: white;
    background-color: #213f87;
    pointer-events: none;
}

ul li a:hover {
    opacity: 1;
}


ul li{
    display: inline-block;
}


@media (max-width: 767px) {

    nav ul li { display: block;
        margin-bottom: 50px;
        z-index: 1;}
    header h1{
        float: none;

    }

    header a{
        margin-top: 25px;
        float: none;
    }

}


/* -- Demo ads -- */

@media (max-width: 1200px) {
    #bsaHolder{ display:none;}
}

/* -- Link to Tutorialzine -- */

.tz-link{
    text-decoration: none;
    color: #fff !important;
    font: bold 36px Arial,Helvetica,sans-serif !important;
}

.tz-link span{
    color: #da431c;
}